
@model int
@{
    string roomName = ChatRoom.Controllers.ChatController.Rooms.GetValueOrDefault(Model);
}
<link href="~/css/RoomStyle.css" rel="stylesheet" />
<h1>Bienvenido a @roomName,@ViewBag.Username</h1>
<p>¡Estás en la sala @roomName! Chatea con otros usuarios aquí.</p>

        <input type="text" placeholder="Usuario" id="user" value="@ViewBag.Username" style="visibility:hidden" />
<div class="row">
    <div class="col-12">
        <input type="text" placeholder="Mensaje" id="message"/>
        <button id="btnSend">Enviar</button>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div id="messages"></div>
    </div>
    <div class="col-6">
        <div id="notifications"></div>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script src="~/js/RoomScript.js"></script> 